In [1]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import inspect
import psycopg2
from dotenv import load_dotenv
import os

load_dotenv()

True

In [ ]:
def get_database_connection():
    user = os.getenv("DB_USER")
    password = os.getenv("DB_PASSWORD")
    host = os.getenv("DB_HOST")
    dbname = os.getenv("DB_NAME")
    sslmode = os.getenv("DB_SSLMODE")

    db_url = f'postgresql+psycopg2://{user}:{password}@{host}/{dbname}?sslmode={sslmode}'
    engine = create_engine(db_url)
    return engine.connect().execution_options(timeout=5)

try:
    engine = get_database_connection()
    inspector = inspect(engine)
    print("Tables in Neon DB:", inspector.get_table_names())
except Exception as e:
    print(f"Could not connect to database. Error: {e}")

In [ ]:
conn = psycopg2.connect(
    host=os.getenv("DB_HOST"),
    database=os.getenv("DB_NAME"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    sslmode=os.getenv("DB_SSLMODE")
)

df = pd.read_sql("SELECT * FROM merged_stock_data", conn)

df.head()

/var/folders/w4/5fjrknc54qjdkx2hts27gd6m0000gn/T/ipykernel_28988/3226161085.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM merged_stock_data", conn)

,date,stock_symbol,open_price,high_price,low_price,close_price,adj_close,volume,article_sentiment,article_count,sentiment_std,hassentiment,gdp,real_gdp,unemployment_rate,cpi,fed_funds_rate,sp500
0,2020-01-02,MSFT,158.779999,160.729996,158.330002,160.619995,153.323257,22622100.0,0.0,0,0.0,0,21933.217,20985.448,3.6,258.63,1.55,3257.85
1,2020-01-03,MSFT,158.320007,159.949997,158.059998,158.619995,151.414124,21116200.0,0.0,0,0.0,0,21933.217,20985.448,3.6,258.63,1.55,3234.85
2,2020-01-06,MSFT,157.080002,159.100006,156.509995,159.029999,151.805481,20813700.0,0.0,0,0.0,0,21933.217,20985.448,3.6,258.63,1.55,3246.28
3,2020-01-07,MSFT,159.320007,159.669998,157.320007,157.580002,150.421356,21634100.0,0.0,0,0.0,0,21933.217,20985.448,3.6,258.63,1.55,3237.18
4,2020-01-08,MSFT,158.929993,160.800003,157.949997,160.089996,152.817307,27746500.0,0.0,0,0.0,0,21933.217,20985.448,3.6,258.63,1.55,3253.05

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14046 entries, 0 to 14045
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               14046 non-null  object
 1   stock_symbol       14046 non-null  object
 2   open_price         14046 non-null  float64
 3   high_price         14046 non-null  float64
 4   low_price          14046 non-null  float64
 5   close_price        14046 non-null  float64
 6   adj_close          14046 non-null  float64
 7   volume             14046 non-null  float64
 8   article_sentiment  14046 non-null  float64
 9   article_count      14046 non-null  int64
 10  sentiment_std      14046 non-null  float64
 11  hassentiment       14046 non-null  int64
 12  gdp                14046 non-null  float64
 13  real_gdp           14046 non-null  float64
 14  unemployment_rate  14046 non-null  float64
 15  cpi                14046 non-null  float64
 16  fed_funds_rate     14046 non-null  float64
 17  sp500              14046 non-null  float64
dtypes: float64(14), int64(2), object(2)
memory usage: 1.9+ MB